name: Deploy Baiters Burger Products API

on:
    push:
        branches:
          - develop

env:
  DATABASE_CONNECTION_URL: ${{ secrets.DATABASE_CONNECTION_URL }}
  DATABASE_DRIVER_CLASS_NAME: ${{ secrets.DATABASE_DRIVER_CLASS_NAME }}
  DATABASE_HIBERNATE_DIALECT: ${{ secrets.DATABASE_HIBERNATE_DIALECT }}
  DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
  DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Unit Tests with Maven
        run: mvn -B test

  build:
    name: Build Application JAR
    runs-on: ubuntu-latest
    needs: [ test ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build Application with Maven
        run: mvn -B package -DskipTests

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: baitersburger-products-jar
          path: target/*.jar

  deploy-docker-image-to-ecr:
    name: Docker Build and Push to ECR
    needs: [ test, build ]
    uses: ./.github/workflows/generate-docker-image.yaml
    secrets: inherit