name: Deploy Baiters Burger Products API

on:
  push:
    branches:
      - develop

env:
  DATABASE_CONNECTION_URL: ${{ secrets.DATABASE_CONNECTION_URL }}
  DATABASE_DRIVER_CLASS_NAME: ${{ secrets.DATABASE_DRIVER_CLASS_NAME }}
  DATABASE_HIBERNATE_DIALECT: ${{ secrets.DATABASE_HIBERNATE_DIALECT }}
  DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
  DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}

jobs:
  test-and-analyze:
    name: Analyze with SonarQube
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: 'temurin'
          cache: 'maven'

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=${{ vars.SONAR_PROJECT_KEY }}

  build:
    name: Build Application JAR
    runs-on: ubuntu-latest
    needs: [ test-and-analyze ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build Application with Maven
        run: mvn -B package -DskipTests

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: baitersburger-products-jar
          path: target/*.jar

  deploy-docker-image-to-ecr:
    name: Docker Build and Push to ECR
    needs: [ test-and-analyze, build ]
    uses: ./.github/workflows/generate-docker-image.yaml
    secrets: inherit

  terraform:
    name: Deploy infrastructure with Terraform
    runs-on: ubuntu-latest
    needs: [ deploy-docker-image-to-ecr ]
    defaults:
      run:
        working-directory: ./infra
    env:
      TF_VAR_docker_image_tag: ${{ github.sha }}
      TF_VAR_database_connection_url: ${{ secrets.DATABASE_CONNECTION_URL }}
      TF_VAR_database_driver_class_name: ${{ secrets.DATABASE_DRIVER_CLASS_NAME }}
      TF_VAR_database_hibernate_dialect: ${{ secrets.DATABASE_HIBERNATE_DIALECT }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Add Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Set up infrastructure
        run: terraform init

      - name: Validate Terraform configuration
        run: terraform validate

      - name: Plan infrastructure changes
        run: terraform plan

      - name: Apply infrastructure changes
        run: terraform apply -auto-approve